.foodCard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.2); */
  background-color: #21222d;
  /* padding: 1rem; */
  margin: 0.5rem;
  border-radius: 10px;
  width: 300px;
  overflow: hidden;
}

.foodCard > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.foodDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.foodSpecial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.foodInline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foodCard:hover {
  box-shadow: 0 0 1px 1px #64748b;
}

.foodContainer-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.foodline {
  background-color: #f59e0b;
  height: 5px;
  width: 15%;
  margin: 2px auto;
  margin-bottom: 1rem;
  border-radius: 10px;
}
