/* YourFormStyles.css */

/* Center the form vertically and horizontally */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  /* width: 310px; */
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.2);
}

form {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 90%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
